{% extends 'main/base.html' %} {% load static %} {% block content %}


<link rel="stylesheet" href="{% static 'main/css/about.css' %}" />




  <div class="col-md-13">
    <div class="h-2 p-3 border border-1 rounded-4 bg-dark" style="margin-top: 5px;">
      <h3 style="text-align: center">About Us</h3>
      <p>
    Meet the Team Behind AI Maps. We are a dynamic team of four passionate
    software developers hailing from the University of Virginia, driven by a
    common goal to make your daily journeys more enjoyable and efficient. Our
    journey began in the hallowed halls of academia, where we honed our skills
    and shared a vision to revolutionize the way people navigate their daily
    lives. Together, we've embarked on an exciting venture, developing an
    innovative AI Maps web application that promises to redefine your daily
    routes. Our team is composed of individuals with diverse backgrounds and
    expertise, which uniquely positions us to create a cutting-edge solution.
    We're united by a shared love for technology and a commitment to making your
    daily routines more seamless and enjoyable.
      </p>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-13">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center col-lg-6" style="padding-left: 5px">
            <div class="h-2 p-3 border border-1 rounded-4 bg-dark" style="margin-top: 5px; height: 200px;">
              <h4>Brandon Yang</h4>
              <p>
                I am a third year student at UVA studying computer science. My main role
                in developing our application was implementing the backend and the
                frontend. This project was a hard but fun and rewarding experience;
                hopefully our app can make your daily life on grounds a bit easier!
                Checkout my personal website <a href="https://www.brandon-yifan-yang.com/">here</a>.
              </p>
            </div>
          </div>
          <div class="col-md-4 text-center col-lg-6">
            <div class="h-2 p-3 border border-1 rounded-4 bg-dark" style="margin-top: 5px; height: 200px;">
              <h4>Matthew Haid</h4>
              <p>
                I am a third year Computer Science Engineering Major studying at the University
                of Virginia. I was the scrum master for this project and the key features I got
                to work on were the log in process as well as the admin features for the site. I
                loved working on this project as well as the ability to meet this amazing team!
              </p>
            </div>
          </div>
          <div class="col-md-2 text-center col-lg-6" style="padding-left: 5px">
            <div class="h-2 p-3 border border-1 rounded-4 bg-dark" style="margin-top: 5px; height: 225px">
              <h4>Elliott Druga</h4>
              <p>
                I am a third year student at UVA studying computer science. My main role
                in developing our application was implementing map filters and adding
                student favorite locations. This project was a hard but fun and rewarding
                experience; hopefully our app can make your daily life on grounds a bit easier!
              </p>
              </div>
          </div>
          <div class="col-md-2 text-center col-lg-6">
            <div class="h-2 p-3 border border-1 rounded-4 bg-dark" style="margin-top: 5px; height: 225px;">
              <h4>Aidan O'Donnell</h4>
              <p>
                I'm a third year CS major at UVA and my role was DevOps manager. I was also responsible for
                working on UI elements and implementing a feature so that only locations in the
                Charlottesville could be added by the user. I learned many important skills through collaborating
                with my team and it was an overall great experience.
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
